<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Questions</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    </head>

    <body>
        <div id='header'>
            <ul>
                <li><a href="/questions/companys/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="/questions/logout/">Logout</a></li>
            {% else %}
                <li><a href="/questions/register/">Register Here</a></li>
            {% endif %}
            </ul>
        </div>

        <hr />
        <div id='body'>
            {% block body_block %}{% endblock %}
        </div>



    </body>
</html>
