<!DOCTYPE html>

<html>
    <head>
        <title>Questions</title>
    </head>

    <body>
        <div>
            <ul>
                <li><a href="/questions/companys/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="/questions/logout/">Logout</a></li>
            {% else %}
                <li><a href="/questions/register/">Register Here</a></li>
            {% endif %}
            </ul>
        </div>

        <hr />
        <div>
            {% block body_block %}{% endblock %}
        </div>



    </body>
</html>
