{% extends './base.html' %}

    {% block body_block %}
    <h1>Add a Company</h1>

        {% if registered %}
        <strong>Your Company has been added</strong>
        <a href="/questions/companys">Return to the companies page</a><br />
        {% else %}
        <strong>Add a Company:</strong><br />
        <form class="form" id="company_form" method="post" action=""
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ company_form.as_p }}

            <input type="submit" name="submit" value="Submit" />
        </form>
        {% endif %}

    {% endblock %}
